@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: "among-us";
  src: url("./assets/fonts/among-us.ttf");
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("./assets/images/home_bg.png");
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

#home {
  background-image: url("./assets/images/home_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.welcome,
.official,
.change {
  font-family: "Amaranth", sans-serif;
  color: white;
  font-size: 1.8em;
}

.main_text {
  font-size: 6em;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-family: "among-us";
}

#timer,
#event_c {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#time {
  font-family: "Amaranth", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#fd297a, #9424f0);
  margin-top: 10px;
  font-size: 22px;
}

#about {
  font-family: "Amaranth", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.head-text {
  font-family: "Amaranth", sans-serif;
  color: white;
  margin-top: 72px;
  padding: 24px;
}

.abt_text_p {
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px black;
}

.main_logo {
  height: 250px;
  width: 250px;
  padding: 22px;
}

#events {
  height: 100vh;
  font-family: "Amaranth", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#team {
  font-family: "Amaranth", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#col_new {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.card,
.card-img {
  padding: 5px;
  border-radius: 5% !important;
}

.card-img-top {
  border: #ffffff solid 3px;
  border-radius: 50% !important;
}
.card-title,
.card-text {
  color: white;
  font-size: 22px;
}
.card-img {
  height: 350px;
}

.card-body a {
  color: #ffffff !important;
  text-decoration: none !important;
}

#tchr {
  height: 250px;
  width: 250px;
  border: #ffffff solid 3px;
  border-radius: 50%;
  padding: 0px !important;
}

#contact {
  height: 100vh;
  font-family: "Amaranth", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  backdrop-filter: blur(10px);
  font-family: "Amaranth", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  width: 100%;
  top: 0;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 999;
}

.nav-links {
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.nav-logo a,
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-logo :hover,
.nav-links :hover {
  color: palevioletred;
}

.nav-links li {
  list-style: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
  display: none;
  cursor: pointer;
  z-index: 999;
}

.text-center {
  font-size: 22px;
  color: #fff;
}

footer a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    background: rgba(38, 41, 34, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 999;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* nav bar style end */

.owl-carousel .owl-nav div.owl-prev, 
.owl-carousel .owl-nav div.owl-next {
    /* color: rgba(255, 255, 255, 0); */
    color: white;
    font-size: 30px;
    margin-top: -20px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 50%;
    text-align: center;
    line-height: 39px;
    opacity: 0;
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.owl-carousel .owl-nav div.owl-prev{
    left: 10%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
}
.owl-carousel .owl-nav div.owl-next {
    right: 10%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
}
.owl-carousel:hover .owl-nav div.owl-next{
    right: -2%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    opacity: 1;
}
.owl-carousel:hover .owl-nav div.owl-prev{
    left: -2%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    opacity: 1;
}
.owl-carousel:hover .owl-nav div.owl-next:hover,
.owl-carousel:hover .owl-nav div.owl-prev:hover{
    color:#fff;
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 40px;
}

@media screen and (max-width: 768px){
  #time{
    height: 80.5px;
    width: 80.5px;
    font-size: 20px;
  }
  .card-title{
    font-size: 20px !important;
  }
  .card-text{
    font-size: 18px !important;
  }
  .card-text{
    min-height: 70px;
  }
}